body {
  background: #800000;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}

/*
  This part styles the ALIASPICKER
*/
.header {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.aliasForm {
  width: 20%;
  margin: 17% auto;
}

.aliasInput {
  display: flex;
  align-items: center;
}

.description {
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 1.3em;
  margin: -.1em 0 3em;
}

#aliasBox {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: .1em;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.button {
  height: 3em;
  border: none;
}

#enter {
  width: 25%;
  height: 3em;
  background: #ff3300;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#enter:hover {
  background: #e62e00;
}

/*
  This part styles the CHATROOM
*/

#appChat {
  display: flex;
  justify-content: center;
}
.usersList{
  list-style: none;
  text-align: left;
}
.messageComponent{
  /*flex-basis: 70%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageInputArea{
  height: 30em;
  width: 50em;
  overflow: auto;
  background: white;
  border: 2px solid black;
  border-radius: 1px;
  text-align: left;
}
.message{
  padding: .1em;
  font-weight: bold;
  font-size: 1em;
}
.admin_message{
  font-style: italic;
  font-size: 1.02em;
  color: grey;
  text-align: center;
}
.messageTableText{
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
.userElement{
  font-weight: bolder;
  padding: .1em;
}
/*
  Styling message form input box
*/
.messageFormDiv{
  display: flex;
  align-items: center;
}

.messageForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageInput {
  width: 50em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.messageButton {
  height: 3em;
  border: none;
}

#messageBox {
  width: 90%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#sendMessage {
  width: 10%;
  height: 3em;
  background: #009933;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#sendMessage:hover {
  background: #00802b;
}

/*
  Show User Button
*/
.userButton {
  position: relative;
  width: 10em;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #314d9b;
  color: #ecf0f1;

  transition: background-color .3s;
}

.userButton:hover, .userButton:focus {
  background-color: #273D7A;
  cursor: pointer;
}

.userButton span {
  display: block;
  padding: 12px 24px;
}

.userButton:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.userButton:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 1s ease-out, padding-top 1s ease-out;
}
