body {
  background: #002db3;
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
  text-align: center;
}

/*
  This part styles the ALIASPICKER
*/
.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.aliasForm {
  width: 450px;
  margin: 17% auto;
}

.aliasInput {
  display: flex;
  align-items: center;
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

#aliasBox {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.button {
  height: 44px;
  border: none;
}

#enter {
  width: 25%;
  height: 46px;
  background: #ff3300;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#enter:hover {
  background: #e62e00;
}

/*
  This part styles the CHATROOM
*/

#appChat {
  display: flex;
  justify-content: center;
}
.usersList{
  list-style: none;
}
.userComponent{
  padding-left: 30px;
  text-align: start;
  flex-basis: 20%;
  border: 3px solid white;
  border-radius: 10px;
}
.messageComponent{
  flex-basis: 80%;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin_message{
  color: yellow;
  font-weight: bold;
}
.message{
  padding: 3px;
}
.userElement{
  font-weight: bold;
}
/*
  Styling message form input box
*/
.messageFormDiv{
  display: flex;
  align-items: center;
}

.messageForm {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageInput {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding: 10px;
}

.messageButton {
  height: 29px;
  border: none;
}

#messageBox {
  width: 80%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#sendMessage {
  width: 20%;
  height: 30px;
  background: #009933;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#sendMessage:hover {
  background: #00802b;
}
